<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CineVerse - Movie Details</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/forntend.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light sticky-top">
        <div class="container">
            <a class="navbar-brand fw-bold" href="#">
                <i class="fas fa-film text-primary"></i> CineVerse
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link btn btn-primary text-white ms-2 px-4" href="/">Admin</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section class="d-flex justify-content-center align-items-center ">
        <div class="container movie-card1 m-5 p-0">
            <div class="movie-img1 rounded-3">
                <img class="rounded-4" src="/<%= movie.photo %>" alt="<%= movie.name %>">
            </div>
            <div class="card-body1 p-4">
                <h3 class="card-title mb-3">
                    <%= movie.name %>
                </h3>
                <p class="text-muted small mb-3">
                    <%= movie.date %>
                </p>
                <p class="card-text1">
                     <%= movie.description %>
                </p>
                <div class="mb-3">
                    <span class="category-badge2">
                        <%= movie.genre %>
                    </span>
                </div>
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <span class="rating"><i class="fas fa-star"></i>
                        <%= movie.rating %>
                    </span>
                    <a href="/" class="btn btn-secondary1">
                        <i class="fas fa-arrow-left me-2"></i> Back
                    </a>
                </div>
            </div>
        </div>
    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.bundle.min.js"></script>
</body>

</html>
